/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../.rvm/gems/ruby-1.9.3-p385@rails32/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*---------------- Overall Styles ---------------- */
/* line 12, ../sass/base.scss */
body {
  background-color: #F2F2F2;
  max-width: 60em;
  min-height: 990px;
  margin: 0 auto;
}

/* line 21, ../sass/base.scss */
h1, h2, h3, h4, h5, p, a, label, span, em {
  font-family: 'OpenSansRegular';
  font-style: normal;
}

/* line 27, ../sass/base.scss */
h1, h2 {
  color: #000000;
  font-size: 170%;
  margin: 0px;
  padding: 0px;
  text-shadow: 0px 1px 2px #FCFCFC;
  letter-spacing: -1px;
  line-height: 120%;
}

/* line 37, ../sass/base.scss */
h3 {
  margin: 1% 0% 1% 0%;
  padding: 0%;
  font-size: 140%;
}

/* line 43, ../sass/base.scss */
p, a, label, div, em {
  font-family: 'OpenSansRegular';
  font-size: 100%;
  font-style: normal;
  line-height: 140%;
}

/* line 50, ../sass/base.scss */
p {
  line-height: 140%;
  margin: 3% 0% 2% 0%;
}

/* line 55, ../sass/base.scss */
label {
  margin: 0% 0% 1% 0%;
  padding: 0px;
}

/* line 60, ../sass/base.scss */
embed, iframe {
  -webkit-box-shadow: 5px;
  -moz-box-shadow: 5px;
  box-shadow: 5px;
}

/* line 64, ../sass/base.scss */
.drupal_messages {
  clear: both;
}

/* line 72, ../sass/base.scss */
#socialwrapper .socialbutton {
  height: 30px;
  width: 60px;
  float: left;
}

/*---------------- Header ---------------- */
/* line 82, ../sass/base.scss */
#header {
  width: 100%;
  height: 100%;
}

/* line 87, ../sass/base.scss */
#logo {
  width: 80%;
  margin: 0 auto;
  clear: both;
  text-align: center;
}
/* line 92, ../sass/base.scss */
#logo a {
  display: inline-block;
}

/* line 98, ../sass/base.scss */
.region-header {
  height: 100%;
  margin-top: 3%;
  margin: 0 auto;
  text-align: center;
}
/* line 104, ../sass/base.scss */
.region-header h1 {
  padding: 0% 5% 0% 5%;
}

/* line 112, ../sass/base.scss */
#block-block-1 {
  margin-top: 3%;
  margin-bottom: 2%;
}

/*---------------- Main Navigation ---------------- */
/* line 121, ../sass/base.scss */
ul.menu {
  margin: 0%;
  padding: 0%;
  text-align: center;
}

/* line 127, ../sass/base.scss */
ul.menu li {
  margin: 0%;
  padding: 0%;
}

/* line 132, ../sass/base.scss */
#block-system-main-menu {
  margin: 0px;
}

/* line 136, ../sass/base.scss */
.menu li {
  list-style: none;
  display: inline;
}

/* line 141, ../sass/base.scss */
#block-system-main-menu li.first a {
  margin-left: 0%;
}

/* line 145, ../sass/base.scss */
#block-system-main-menu li a {
  text-decoration: none;
  padding: 1% 3% 1% 3%;
  margin: 3%;
  color: #999999;
}

/* line 153, ../sass/base.scss */
#block-system-main-menu li a.active {
  background-color: #bcbcbc;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  color: #FFFFFF;
}

/*---------------- Fluid Homepage Slider ---------------- */
/* line 168, ../sass/base.scss */
.homepage-slider {
  width: 100%;
}

/* line 174, ../sass/base.scss */
img, iframe {
  max-width: 100%;
}

/* line 179, ../sass/base.scss */
a img {
  display: block;
}

/* line 183, ../sass/base.scss */
#views_slideshow_cycle_main_homepage_slider-block, #views_slideshow_cycle_main_homepage_slider-block > div, #views_slideshow_cycle_main_homepage_slider-block div {
  width: 100%;
}

/* line 189, ../sass/base.scss */
.region-homepage-slider {
  position: relative;
  clear: both;
  margin-bottom: 4%;
}

/* line 198, ../sass/base.scss */
#views_slideshow_cycle_teaser_section_homepage_slider-block {
  border: 4px solid #FFFFFF;
  z-index: 1;
  margin: 0;
  max-width: 90%;
  margin: 0 auto;
  box-shadow: 0px 1px 6px #888;
}

/* line 207, ../sass/base.scss */
.views-slideshow-controls-bottom {
  display: none;
}

/* toggle this if the box-shadow is looking strange.. */
/* line 214, ../sass/base.scss */
.views_slideshow_cycle_main {
  overflow: visible;
}

/* line 219, ../sass/base.scss */
#widget_pager_bottom_homepage_slider-block {
  max-width: 90%;
  margin: 0 auto;
  clear: both;
}

/* line 227, ../sass/base.scss */
.view-homepage-slider .views_slideshow_pager_field_item {
  width: 18%;
  margin: 0% 1% 1% 1%;
  background: #FFFFFF;
  text-align: center;
  float: left;
}
/* line 235, ../sass/base.scss */
.view-homepage-slider .views_slideshow_pager_field_item a {
  display: block;
  width: 100%;
  padding: 6% 1% 6% 1%;
  text-decoration: none;
  color: #888888;
  font-size: 90%;
}

/* line 245, ../sass/base.scss */
#widget_pager_bottom_homepage_slider-block div.active {
  background: #557193;
}

/* line 249, ../sass/base.scss */
#widget_pager_bottom_homepage_slider-block div.active a {
  color: #ffffff;
}

/*---------------- Homepage Columns --------------- */
/* line 258, ../sass/base.scss */
.front #column-wrapper {
  max-width: 58em;
  height: 100%;
  margin: 0 auto;
  position: relative;
  clear: both;
  overflow: auto;
}

/* line 269, ../sass/base.scss */
.front .region-column-one, .front .region-column-two {
  width: 92%;
  margin: 4%;
  height: 100%;
  clear: both;
}

/* line 278, ../sass/base.scss */
#edit-mailchimp-lists-mailchimp-1-title label, #edit-mailchimp-lists-mailchimp-contact-us-form-title {
  color: #000000;
  font-size: 170%;
  margin: 0px;
  padding: 0px;
  text-shadow: 0px 1px 2px #FCFCFC;
  letter-spacing: -1px;
}

/*---------------- Main Content --------------- */
/* line 292, ../sass/base.scss */
.region-content {
  clear: both;
}

/* line 298, ../sass/base.scss */
#page-content {
  width: 98%;
  margin: 1%;
  clear: both;
}

/* line 304, ../sass/base.scss */
#page-column-wrapper {
  width: 98%;
  margin: 1%;
  clear: both;
}

/* line 310, ../sass/base.scss */
#page-content-wrapper {
  clear: both;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

/*---------------- Mail Chimp --------------- */
/* line 320, ../sass/base.scss */
.form-type-textfield input {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 35px;
  width: 80%;
  font-size: 100%;
  font-family: 'OpenSansRegular';
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  padding-left: 8px;
}

/* line 333, ../sass/base.scss */
#edit-mailchimp-lists-mailchimp-1-title {
  margin: 0%;
  padding: 0%;
}

/* line 338, ../sass/base.scss */
#mailchimp-lists-user-subscribe-form-1 {
  height: 100%;
}

/* line 344, ../sass/base.scss */
#mailchimp-newsletter-contact_us_form label, .mailchimp-lists-user-subscribe-form label {
  width: 100%;
}
/* line 348, ../sass/base.scss */
#mailchimp-newsletter-contact_us_form input#edit-submit, .mailchimp-lists-user-subscribe-form input#edit-submit {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  color: #428bca;
}
/* line 358, ../sass/base.scss */
#mailchimp-newsletter-contact_us_form input#edit-submit:hover, .mailchimp-lists-user-subscribe-form input#edit-submit:hover {
  color: #2a6496;
}

/*---------------- Community Updates Menu ---------------- */
/* line 369, ../sass/base.scss */
#block-menu-menu-community-updates-menu {
  overflow: visible;
  height: 100%;
}
/* line 372, ../sass/base.scss */
#block-menu-menu-community-updates-menu ul.menu {
  margin: 3% 0 3% 0;
}

/* line 377, ../sass/base.scss */
#block-menu-menu-community-updates-menu li a {
  text-decoration: none;
  padding: 1% 3% 1% 3%;
  height: 100%;
  width: 100%;
  color: #555555;
}

/* line 391, ../sass/base.scss */
#block-menu-menu-community-updates-menu li a.active {
  color: white;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  background-color: #bcbcbc;
  height: 100%;
  width: 100%;
}
/* line 400, ../sass/base.scss */
#block-menu-menu-community-updates-menu li a:hover {
  color: white;
  -webkit-border-radius: 2em;
  -moz-border-radius: 2em;
  -ms-border-radius: 2em;
  -o-border-radius: 2em;
  border-radius: 2em;
  background-color: #bcbcbc;
  height: 100%;
  width: 100%;
}

/* line 411, ../sass/base.scss */
#block-menu-menu-community-updates-menu li a.active-trail {
  color: #555555;
  background-color: #F2F2F2;
  background-image: none;
  height: 100%;
  width: 100%;
}

/*---------------- Community Updates ---------------- */
/* line 425, ../sass/base.scss */
.view-display-id-page {
  margin-top: 3%;
}

/* line 429, ../sass/base.scss */
div#block-views-community-updates-block-1 span#community {
  font-size: 40%;
  letter-spacing: 0px;
  color: #333333;
}

/* line 435, ../sass/base.scss */
div#block-views-community-updates-block-1 span#community a {
  color: #333333;
}

/* line 439, ../sass/base.scss */
.view-community-updates div.views-row {
  position: relative;
  width: 100%;
  margin: 3% 0% 3% 0%;
  overflow: visible;
}
/* line 445, ../sass/base.scss */
.view-community-updates div.views-row a {
  display: block;
  clear: both;
  position: relative;
  overflow: hidden;
  padding: 2%;
}
/* line 454, ../sass/base.scss */
.view-community-updates div.views-row li {
  margin: 0;
}

/* line 468, ../sass/base.scss */
.view-community-updates div.views-row a:hover {
  background-color: #cde6f9;
}

/* line 473, ../sass/base.scss */
.view-community-updates div.views-row a, .view-community-updates div.views-row p, .view-community-updates div.views-row em {
  margin: 0% 1% 2% 0%;
  padding: 0%;
  text-decoration: none;
  color: #333333;
}

/* line 483, ../sass/base.scss */
.view-id-community_updates div.views-row p {
  font-size: 80%;
}
/* line 490, ../sass/base.scss */
.view-id-community_updates div.views-row .date-user p {
  font-size: 70%;
  margin: 0% 0% 1% 0%;
  font-family: 'OpenSansLightItalic';
}
/* line 496, ../sass/base.scss */
.view-id-community_updates div.views-row .date-user em {
  font-size: 100%;
  font-family: 'OpenSansLightItalic';
}

/* line 504, ../sass/base.scss */
.view-id-community_updates img {
  float: left;
  margin: 1% 4% 1% 1%;
}

/*---------------- Article ---------------- */
/* line 512, ../sass/base.scss */
.submitted {
  font-size: 70%;
  color: #777777;
  margin: 2% 0% 1% 0%;
}

/* line 521, ../sass/base.scss */
div.node-article div.field-name-field-image img, div.node-page div.field-name-field-image img, div.node-sermon div.field-name-field-image img {
  float: right;
  margin: 2%;
}

/* line 531, ../sass/base.scss */
div.field-name-field-tags div.field-label {
  margin: 2% 2% 2% 0%;
  text-transform: uppercase;
  color: #333333;
}
/* line 538, ../sass/base.scss */
div.field-name-field-tags div.field-items div.field-item {
  float: left;
  margin-right: 1%;
  height: 100%;
}

/* line 545, ../sass/base.scss */
div.field-name-field-tags div.field-items div.field-item a {
  text-decoration: none;
  background: url("images/tag-icon.png") left center no-repeat;
  padding: 10px 10px 10px 30px;
  color: #888888;
  overflow: hidden;
  display: block;
}

/*---------------- Artwork ---------------- */
/* line 559, ../sass/base.scss */
div.field-slideshow-wrapper .item-list ul li {
  margin: 0 1% 0 0;
  padding: 0;
}

/* line 566, ../sass/base.scss */
.view-artwork-slider {
  margin: 3% 0% 3% 0%;
}

/* line 570, ../sass/base.scss */
views_slideshow_cycle_main_artwork_slider-block, views_slideshow_cycle_main_artwork_slider-block > div, views_slideshow_cycle_main_artwork_slider-block div {
  width: 100%;
}

/* line 576, ../sass/base.scss */
#views_slideshow_cycle_teaser_section_artwork_slider-block {
  width: 100%;
}
/* line 579, ../sass/base.scss */
#views_slideshow_cycle_teaser_section_artwork_slider-block .views-slideshow-cycle-main-frame-row {
  max-width: 100%;
}
/* line 583, ../sass/base.scss */
#views_slideshow_cycle_teaser_section_artwork_slider-block .views-slideshow-cycle-main-frame-row-item {
  margin-right: 4%;
  max-width: 100%;
}
/* line 586, ../sass/base.scss */
#views_slideshow_cycle_teaser_section_artwork_slider-block .views-slideshow-cycle-main-frame-row-item h3 {
  margin: 3% 0% 1% 0%;
}
/* line 590, ../sass/base.scss */
#views_slideshow_cycle_teaser_section_artwork_slider-block .views-slideshow-cycle-main-frame-row-item p {
  font-size: 80%;
  margin: 0% 0% 2% 0%;
}
/* line 595, ../sass/base.scss */
#views_slideshow_cycle_teaser_section_artwork_slider-block .views-slideshow-cycle-main-frame-row-item img {
  border: 4px solid #ffffff;
}

/* line 606, ../sass/base.scss */
#widget_pager_bottom_artwork_slider-block .views-slideshow-pager-field-item {
  float: left;
  margin-right: 1%;
  border: 4px solid #ffffff;
}
/* line 611, ../sass/base.scss */
#widget_pager_bottom_artwork_slider-block .views-slideshow-pager-field-item .views-content-field-image {
  line-height: 0;
}

/* line 621, ../sass/base.scss */
.node-type-event .field-name-field-image {
  float: right;
  margin: 2%;
}
/* line 624, ../sass/base.scss */
.node-type-event .field-name-field-image img {
  border: 4px solid #ffffff;
}
/* line 629, ../sass/base.scss */
.node-type-event .date-display-single {
  font-size: 80%;
  font-family: 'OpenSansLightItalic';
}
/* line 635, ../sass/base.scss */
.node-type-event .field-name-field-place {
  font-size: 90%;
}
/* line 639, ../sass/base.scss */
.node-type-event .field-name-field-place-link {
  margin: 2% 0% 2% 0%;
}

/*---------------- Sermon ---------------- */
/* line 648, ../sass/base.scss */
.mediaelement-audio {
  position: relative;
  overflow: hidden;
}

/*---------------- Song Content Type ---------------- */
/* line 658, ../sass/base.scss */
.node-type-song-s- .field-name-field-song-audio .field-item {
  margin: 2% 0% 1% 0%;
}
/* line 661, ../sass/base.scss */
.node-type-song-s- .field-name-field-song-audio .field-item p {
  font-size: 80%;
  line-height: 120%;
  margin: 1% 0 2%;
}
/* line 672, ../sass/base.scss */
.node-type-song-s- .region-content img {
  float: right;
  border: 4px solid #ffffff;
  margin: 1% 0% 1% 1%;
}

/*---------------- Video Content Type ---------------- */
/* line 682, ../sass/base.scss */
.field-name-field-youtube {
  margin: 2% 0% 1% 0%;
}

/*---------------- People Content Type ---------------- */
/* line 691, ../sass/base.scss */
.field-name-field-user .field-name-field-usr-name {
  font-size: 150%;
  margin: 1% 0% 1% 0%;
}
/* line 696, ../sass/base.scss */
.field-name-field-user .field-name-field-image img {
  float: left;
  margin: 0% 2% 2% 0%;
  border: 4px solid #ffffff;
}
/* line 703, ../sass/base.scss */
.field-name-field-user .field-name-field-description {
  font-size: 80%;
  margin: 1%;
}
/* line 708, ../sass/base.scss */
.field-name-field-user .entity-field-collection-item {
  clear: both;
  overflow: hidden;
  margin-top: 3%;
}

/* line 721, ../sass/base.scss */
.node-type-people-page .view-content-wiper-slider .views-slideshow-controls-top {
  margin: 3% 0% 3% 0%;
}
/* line 724, ../sass/base.scss */
.node-type-people-page .view-content-wiper-slider .views-slideshow-controls-top h2 {
  font-size: 100%;
}
/* line 729, ../sass/base.scss */
.node-type-people-page .view-content-wiper-slider .views_slideshow_pager_field_item {
  float: left;
}
/* line 734, ../sass/base.scss */
.node-type-people-page .view-content-wiper-slider .views_slideshow_pager_field_item .views-content-field-title {
  padding: 5px;
  margin: 5px 20px 5px 2px;
  border: 1px solid #acacac;
  background-color: #cccccc;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
/* line 743, ../sass/base.scss */
.node-type-people-page .view-content-wiper-slider .views_slideshow_pager_field_item .views-content-field-title:first {
  margin-left: 0px;
}
/* line 745, ../sass/base.scss */
.node-type-people-page .view-content-wiper-slider .views_slideshow_pager_field_item .views-content-field-title:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 752, ../sass/base.scss */
.node-type-people-page .view-content-wiper-slider .active .views-content-field-title {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 759, ../sass/base.scss */
.node-type-people-page .views_slideshow_cycle_slide img {
  float: left;
  margin: 0% 2% 2% 0%;
  border: 4px solid #ffffff;
}
/* line 765, ../sass/base.scss */
.node-type-people-page .views_slideshow_cycle_slide p {
  font-size: 80%;
}

/*---------------- Footer ---------------- */
/* line 776, ../sass/base.scss */
footer {
  clear: both;
  width: 100%;
  margin: 0 auto;
  margin-top: 4%;
  margin-bottom: 8%;
  overflow: hidden;
}
/* line 785, ../sass/base.scss */
footer h2 {
  margin-bottom: 5%;
}

/* line 792, ../sass/base.scss */
.region-footer-firstcolumn, .region-footer-secondcolumn {
  margin-right: 2%;
}

/* line 797, ../sass/base.scss */
.region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn {
  clear: both;
  width: 98%;
  margin: 1%;
  margin-bottom: 5%;
}

/* line 808, ../sass/base.scss */
.view-upcoming-events .views-row {
  padding: 3% 0%;
}
/* line 812, ../sass/base.scss */
.view-upcoming-events .views-row a {
  color: #005478;
  background: url("images/scheduling-request-iconsm.png") 0% 50% no-repeat;
  padding-left: 12%;
}
/* line 819, ../sass/base.scss */
.view-upcoming-events .views-row .date-display-single {
  font-size: 80%;
  padding-left: 12%;
}

/*---------------- Audio Player Overrides ---------------- */
/* line 833, ../sass/base.scss */
.mejs-audio {
  width: 100% !important;
  margin-right: 5%;
}
