/* line 1, ../sass/medium.scss */
.region-header {
  height: 100%;
  width: 80%;
  margin-top: 3%;
  margin: 0 auto;
}
/* line 7, ../sass/medium.scss */
.region-header h1 {
  padding: 0% 0% 0% 0%;
}

/* line 16, ../sass/medium.scss */
#views_slideshow_cycle_teaser_section_homepage_slider-block {
  border: 4px solid white;
  box-shadow: 0px 2px 8px #888888;
  z-index: 1;
  margin: 0;
  max-width: 96%;
  margin: 0 auto;
}
/* line 24, ../sass/medium.scss */
#views_slideshow_cycle_teaser_section_homepage_slider-block a {
  margin: 0;
  padding: 0;
  line-height: 0;
}

/*---------------- Community Updates Menu ---------------- */
/* line 35, ../sass/medium.scss */
#block-menu-menu-community-updates-menu li a {
  text-decoration: none;
  padding: 1% 2% 6% 2%;
}

/* line 41, ../sass/medium.scss */
.front .region-column-one, .front .region-column-two {
  width: 48%;
  margin: 1%;
  height: 100%;
  float: left;
  clear: none;
}

/* line 49, ../sass/medium.scss */
#page-content {
  width: 68%;
  margin: 0% 2% 0% 0%;
  float: left;
  clear: none;
}

/* line 56, ../sass/medium.scss */
#page-column-wrapper {
  width: 30%;
  float: left;
  clear: none;
  margin: 0% 0% 0% 0%;
}

/* line 63, ../sass/medium.scss */
#page-content-wrapper {
  clear: both;
  height: 100%;
  padding: 3% 0;
  overflow: hidden;
  width: 100%;
}

/*---------------- Footer ---------------- */
/* line 73, ../sass/medium.scss */
footer {
  vertical-align: top;
}

/* line 77, ../sass/medium.scss */
.region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn {
  float: left;
  width: 32%;
  clear: none;
  padding: 0;
  margin: 0% 1% 0% 0%;
  display: block;
}

/* line 86, ../sass/medium.scss */
.region-footer-thirdcolumn {
  margin-right: 0%;
}

/* line 91, ../sass/medium.scss */
.views-slideshow-controls-bottom {
  display: block;
}
