/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../../../../opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*---------------- Overall Styles ---------------- */
/* line 12, ../sass/screen.scss */
body {
  background-color: #F2F2F2;
  max-width: 60em;
  min-height: 990px;
  margin: 0 auto;
}

/* line 21, ../sass/screen.scss */
h1, h2, h3, h4, h5, p, a, label, span, em {
  font-family: 'OpenSansRegular';
  font-style: normal;
}

/* line 27, ../sass/screen.scss */
h1, h2 {
  color: #000000;
  font-size: 170%;
  margin: 0px;
  padding: 0px;
  text-shadow: 0px 1px 2px #FCFCFC;
  letter-spacing: -1px;
  line-height: 120%;
}

/* line 37, ../sass/screen.scss */
h3 {
  margin: 1% 0% 1% 0%;
  padding: 0%;
  font-size: 120%;
}

/* line 43, ../sass/screen.scss */
p, a, label, div, em {
  font-family: 'OpenSansRegular';
  font-size: 100%;
  font-style: normal;
  line-height: 140%;
}

/* line 50, ../sass/screen.scss */
p {
  line-height: 140%;
  margin: 3% 0% 2% 0%;
}

/* line 55, ../sass/screen.scss */
label {
  margin: 0px;
  padding: 0px;
}

/* line 60, ../sass/screen.scss */
embed, iframe {
  -moz-box-shadow: 5px;
  -webkit-box-shadow: 5px;
  -o-box-shadow: 5px;
  box-shadow: 5px;
}

/* line 64, ../sass/screen.scss */
.drupal_messages {
  clear: both;
}

/*---------------- Header ---------------- */
/* line 71, ../sass/screen.scss */
#header {
  width: 100%;
  height: 100%;
}

@media all and (max-width: 640px) and (min-width: 100px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  /* line 78, ../sass/screen.scss */
  #logo {
    width: 80%;
    margin: 0 auto;
    clear: both;
  }

  /* line 85, ../sass/screen.scss */
  .region-header {
    height: 100%;
    width: 80%;
    margin-top: 3%;
    margin: 0 auto;
    text-align: center;
  }
}
@media all and (max-width: 4500px) and (min-width: 640px) {
  /* line 95, ../sass/screen.scss */
  #logo {
    width: 45%;
    float: left;
  }

  /* line 101, ../sass/screen.scss */
  .region-header {
    height: 100%;
    width: 55%;
    float: left;
    margin-top: 4%;
  }
}
/* line 109, ../sass/screen.scss */
#block-block-1 {
  margin-top: 3%;
  margin-bottom: 2%;
}

/*---------------- Main Navigation ---------------- */
/* line 116, ../sass/screen.scss */
.menu {
  margin: 0%;
  padding: 0%;
}

/* line 121, ../sass/screen.scss */
ul.menu li {
  margin: 0%;
  padding: 0%;
}

/* line 126, ../sass/screen.scss */
#block-system-main-menu {
  margin: 0px;
}

/* line 130, ../sass/screen.scss */
.menu li {
  list-style: none;
  display: inline;
}

/* line 135, ../sass/screen.scss */
#block-system-main-menu li.first a {
  margin-left: 0%;
}

/* line 139, ../sass/screen.scss */
#block-system-main-menu li a {
  text-decoration: none;
  padding: 1% 3% 1% 3%;
  margin: 3%;
  color: #999999;
}

/*

#block-system-main-menu li.active-trail a.active {
background-color: #9bc8d9;
box-shadow: 0px 0px 0px;
color: #999999;
}

*/
/* line 156, ../sass/screen.scss */
#block-system-main-menu li a.active {
  background-color: #bcbcbc;
  box-shadow: 0px 2px 5px #888;
  color: #FFFFFF;
}

/*---------------- Fluid Homepage Slider ---------------- */
/* line 171, ../sass/screen.scss */
.homepage-slider {
  width: 100%;
}

/* line 177, ../sass/screen.scss */
img, iframe {
  max-width: 100%;
}

/* line 183, ../sass/screen.scss */
#views_slideshow_cycle_main_homepage_slider-block, #views_slideshow_cycle_main_homepage_slider-block > div, #views_slideshow_cycle_main_homepage_slider-block div {
  width: 100%;
}

/* line 189, ../sass/screen.scss */
.region-homepage-slider {
  position: relative;
  clear: both;
}

@media all and (max-width: 640px) and (min-width: 100px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  /* line 198, ../sass/screen.scss */
  #views_slideshow_cycle_teaser_section_homepage_slider-block {
    border: 4px solid #FFFFFF;
    box-shadow: 0px 2px 5px #888;
    z-index: 1;
    margin: 0;
    max-width: 90%;
    margin: 0 auto;
  }

  /* line 207, ../sass/screen.scss */
  .views-slideshow-controls-bottom {
    display: none;
  }
}
@media all and (max-device-width: 4500px) and (min-device-width: 640px) {
  /* line 215, ../sass/screen.scss */
  #views_slideshow_cycle_teaser_section_homepage_slider-block {
    border: 4px solid #FFFFFF;
    box-shadow: 0px 2px 5px #888;
    z-index: 1;
    margin: 0;
    max-width: 96%;
    margin: 0 auto;
  }
}
/* line 229, ../sass/screen.scss */
#views_slideshow_cycle_teaser_section_homepage_slider-block a {
  display: block;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

/* line 237, ../sass/screen.scss */
#views_slideshow_cycle_teaser_section_homepage_slider-block a img {
  display: block;
  margin: 0;
  padding: 0;
}

/* line 244, ../sass/screen.scss */
#widget_pager_bottom_homepage_slider-block {
  max-width: 90%;
  margin: 0 auto;
  clear: both;
}

/* line 252, ../sass/screen.scss */
.view-homepage-slider .views_slideshow_pager_field_item {
  width: 18%;
  margin: 0% 1% 1% 1%;
  background: #FFFFFF;
  box-shadow: 0px 2px 5px #888;
  text-align: center;
  float: left;
}
/* line 261, ../sass/screen.scss */
.view-homepage-slider .views_slideshow_pager_field_item a {
  display: block;
  width: 100%;
  padding: 6% 1% 6% 1%;
  text-decoration: none;
  color: #888888;
  font-size: 90%;
}

/* line 271, ../sass/screen.scss */
#widget_pager_bottom_homepage_slider-block div.active {
  background: #557193;
}

/* line 275, ../sass/screen.scss */
#widget_pager_bottom_homepage_slider-block div.active a {
  color: #ffffff;
}

/*---------------- Homepage Columns --------------- */
/* line 284, ../sass/screen.scss */
.front #column-wrapper {
  max-width: 58em;
  height: 100%;
  margin: 0 auto;
  position: relative;
  clear: both;
  overflow: auto;
}

@media all and (max-device-width: 4500px) and (min-device-width: 640px) {
  /* line 295, ../sass/screen.scss */
  .front .region-column-one, .front .region-column-two {
    width: 48%;
    margin: 1%;
    height: 100%;
    float: left;
  }
}
@media all and (max-width: 640px) and (min-width: 100px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  /* line 306, ../sass/screen.scss */
  .front .region-column-one, .front .region-column-two {
    width: 92%;
    margin: 4%;
    height: 100%;
    clear: both;
  }
}
/* line 315, ../sass/screen.scss */
#edit-mailchimp-lists-mailchimp-1-title label {
  color: #000000;
  font-size: 170%;
  margin: 0px;
  padding: 0px;
  text-shadow: 0px 1px 2px #FCFCFC;
  letter-spacing: -1px;
}

/*---------------- Main Content --------------- */
/* line 328, ../sass/screen.scss */
.region-content {
  clear: both;
}

@media all and (max-device-width: 4500px) and (min-device-width: 640px) {
  /* line 333, ../sass/screen.scss */
  #page-content {
    width: 68%;
    margin-right: 2%;
    float: left;
  }

  /* line 339, ../sass/screen.scss */
  #page-column-wrapper {
    width: 30%;
    float: left;
  }

  /* line 344, ../sass/screen.scss */
  #page-content-wrapper {
    clear: both;
    height: 100%;
    margin: 3% 0;
    overflow: hidden;
    width: 100%;
  }
}
@media all and (max-width: 640px) and (min-width: 100px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  /* line 356, ../sass/screen.scss */
  #page-content {
    width: 98%;
    margin: 1%;
    clear: both;
  }

  /* line 362, ../sass/screen.scss */
  #page-column-wrapper {
    width: 98%;
    margin: 1%;
    clear: both;
  }

  /* line 368, ../sass/screen.scss */
  #page-content-wrapper {
    clear: both;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
}
/*---------------- Mail Chimp --------------- */
/* line 378, ../sass/screen.scss */
.form-type-textfield input {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  height: 25px;
  width: 80%;
  font-size: 100%;
  font-family: 'OpenSansRegular';
}

/* line 386, ../sass/screen.scss */
#edit-mailchimp-lists-mailchimp-1-title {
  margin: 0%;
  padding: 0%;
}

/* line 391, ../sass/screen.scss */
#mailchimp-lists-user-subscribe-form-1 {
  height: 100%;
}

/*---------------- Community Updates Menu ---------------- */
/* line 398, ../sass/screen.scss */
#block-menu-menu-community-updates-menu {
  overflow: visible;
  height: 100%;
}
/* line 401, ../sass/screen.scss */
#block-menu-menu-community-updates-menu ul.menu {
  margin: 3% 0 5%;
}

/* line 406, ../sass/screen.scss */
#block-menu-menu-community-updates-menu li a {
  text-decoration: none;
  padding: 1% 3% 6% 3%;
  height: 100%;
  width: 100%;
  color: #555555;
}

/* line 415, ../sass/screen.scss */
#block-menu-menu-community-updates-menu li.first a.active {
  color: #555555;
  background-image: none;
  height: 100%;
  width: 100%;
}

/* line 427, ../sass/screen.scss */
#block-menu-menu-community-updates-menu li a.active {
  color: #555555;
  background-image: url("images/arrow-down.png");
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}
/* line 436, ../sass/screen.scss */
#block-menu-menu-community-updates-menu li a:hover {
  color: #555555;
  background-image: url("images/all-arrow-down.png");
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
}

/*---------------- Community Updates ---------------- */
/* line 453, ../sass/screen.scss */
.view-display-id-page {
  margin-top: 3%;
}

/* line 457, ../sass/screen.scss */
div#block-views-community-updates-block-1 span#community {
  font-size: 40%;
  letter-spacing: 0px;
  color: #333333;
}

/* line 463, ../sass/screen.scss */
div#block-views-community-updates-block-1 span#community a {
  color: #333333;
}

/* line 467, ../sass/screen.scss */
.view-community-updates div.views-row {
  position: relative;
  width: 100%;
  margin: 2% 0% 2% 0%;
  overflow: visible;
  margin: .5%;
}
/* line 474, ../sass/screen.scss */
.view-community-updates div.views-row a {
  display: block;
  clear: both;
  position: relative;
  overflow: hidden;
  padding: 2%;
}
/* line 483, ../sass/screen.scss */
.view-community-updates div.views-row li {
  margin: 0;
}

/* line 493, ../sass/screen.scss */
.view-community-updates div.views-row a:hover {
  background-color: #cde6f9;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #888;
}

/* line 500, ../sass/screen.scss */
.view-community-updates div.views-row a, .view-community-updates div.views-row p, .view-community-updates div.views-row em {
  margin: 0% 1% 2% 0%;
  padding: 0%;
  text-decoration: none;
  color: #333333;
}

/* line 509, ../sass/screen.scss */
.view-id-community_updates div.views-row p {
  font-size: 80%;
}
/* line 516, ../sass/screen.scss */
.view-id-community_updates div.views-row .date-user p {
  font-size: 70%;
  margin: 0% 0% 1% 0%;
  font-family: 'OpenSansLightItalic';
}
/* line 522, ../sass/screen.scss */
.view-id-community_updates div.views-row .date-user em {
  font-size: 100%;
  font-family: 'OpenSansLightItalic';
}

/* line 530, ../sass/screen.scss */
.view-id-community_updates img {
  float: left;
  margin: 1% 4% 1% 1%;
  box-shadow: 0px 2px 5px #888;
}

/*---------------- Article ---------------- */
/* line 539, ../sass/screen.scss */
.submitted {
  font-size: 70%;
  color: #777777;
  margin: 2% 0% 1% 0%;
}

/* line 546, ../sass/screen.scss */
div.node-article div.field-name-field-image img {
  float: right;
  margin: 2%;
  -moz-box-shadow: #888888 0px 2px 5px;
  -webkit-box-shadow: #888888 0px 2px 5px;
  -o-box-shadow: #888888 0px 2px 5px;
  box-shadow: #888888 0px 2px 5px;
}

/* line 555, ../sass/screen.scss */
div.field-name-field-tags div.field-label {
  margin: 2% 2% 2% 0%;
  text-transform: uppercase;
  color: #333333;
}
/* line 562, ../sass/screen.scss */
div.field-name-field-tags div.field-items div.field-item {
  float: left;
  margin-right: 1%;
  height: 100%;
}

/* line 569, ../sass/screen.scss */
div.field-name-field-tags div.field-items div.field-item a {
  text-decoration: none;
  background: url("images/tag-icon.png") left center no-repeat;
  padding: 10px 10px 10px 30px;
  color: #888888;
  overflow: hidden;
  display: block;
}

/*---------------- Artwork ---------------- */
/* line 583, ../sass/screen.scss */
div.field-slideshow-wrapper .item-list ul li {
  margin: 0 1% 0 0;
  padding: 0;
}

/* line 590, ../sass/screen.scss */
.view-artwork-slider {
  margin: 3% 0% 3% 0%;
}

/* line 594, ../sass/screen.scss */
views_slideshow_cycle_main_artwork_slider-block, views_slideshow_cycle_main_artwork_slider-block > div, views_slideshow_cycle_main_artwork_slider-block div {
  width: 100%;
}

/* line 600, ../sass/screen.scss */
#views_slideshow_cycle_teaser_section_artwork_slider-block {
  width: 100%;
}
/* line 603, ../sass/screen.scss */
#views_slideshow_cycle_teaser_section_artwork_slider-block .views-slideshow-cycle-main-frame-row {
  max-width: 100%;
}
/* line 607, ../sass/screen.scss */
#views_slideshow_cycle_teaser_section_artwork_slider-block .views-slideshow-cycle-main-frame-row-item {
  margin-right: 4%;
  max-width: 100%;
}
/* line 610, ../sass/screen.scss */
#views_slideshow_cycle_teaser_section_artwork_slider-block .views-slideshow-cycle-main-frame-row-item h3 {
  margin: 3% 0% 1% 0%;
}
/* line 614, ../sass/screen.scss */
#views_slideshow_cycle_teaser_section_artwork_slider-block .views-slideshow-cycle-main-frame-row-item p {
  font-size: 80%;
  margin: 0% 0% 2% 0%;
}
/* line 619, ../sass/screen.scss */
#views_slideshow_cycle_teaser_section_artwork_slider-block .views-slideshow-cycle-main-frame-row-item img {
  border: 4px solid #ffffff;
  -moz-box-shadow: #333333 0px 2px 5px;
  -webkit-box-shadow: #333333 0px 2px 5px;
  -o-box-shadow: #333333 0px 2px 5px;
  box-shadow: #333333 0px 2px 5px;
}

/* line 631, ../sass/screen.scss */
#widget_pager_bottom_artwork_slider-block .views-slideshow-pager-field-item {
  float: left;
  margin-right: 1%;
  border: 4px solid #ffffff;
  -moz-box-shadow: #333333 0px 2px 5px;
  -webkit-box-shadow: #333333 0px 2px 5px;
  -o-box-shadow: #333333 0px 2px 5px;
  box-shadow: #333333 0px 2px 5px;
}
/* line 637, ../sass/screen.scss */
#widget_pager_bottom_artwork_slider-block .views-slideshow-pager-field-item .views-content-field-image {
  line-height: 0;
}

/* line 647, ../sass/screen.scss */
.node-type-event .field-name-field-image {
  float: right;
  margin: 2%;
}
/* line 650, ../sass/screen.scss */
.node-type-event .field-name-field-image img {
  border: 4px solid #ffffff;
  -moz-box-shadow: #333333 0px 2px 5px;
  -webkit-box-shadow: #333333 0px 2px 5px;
  -o-box-shadow: #333333 0px 2px 5px;
  box-shadow: #333333 0px 2px 5px;
}
/* line 656, ../sass/screen.scss */
.node-type-event .date-display-single {
  font-size: 80%;
  font-family: 'OpenSansLightItalic';
}
/* line 662, ../sass/screen.scss */
.node-type-event .field-name-field-place {
  font-size: 90%;
}
/* line 666, ../sass/screen.scss */
.node-type-event .field-name-field-place-link {
  margin: 2% 0% 2% 0%;
}
/* line 669, ../sass/screen.scss */
.node-type-event .field-name-field-place-link a {
  background: url("images/green-button.png") no-repeat;
  -moz-background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  -o-background-size: 100% 100%;
  background-size: 100% 100%;
  padding: 1% 2% 1% 2%;
  font-size: 70%;
  text-decoration: none;
  color: #ffffff;
}

/*---------------- Sermon ---------------- */
/* line 682, ../sass/screen.scss */
.mediaelement-audio {
  position: relative;
  overflow: hidden;
}

/*---------------- Song Content Type ---------------- */
/* line 692, ../sass/screen.scss */
.node-type-song-s- .field-name-field-song-audio .field-item {
  margin: 2% 0% 1% 0%;
}
/* line 695, ../sass/screen.scss */
.node-type-song-s- .field-name-field-song-audio .field-item p {
  font-size: 80%;
  line-height: 120%;
  margin: 1% 0 2%;
}
/* line 706, ../sass/screen.scss */
.node-type-song-s- .region-content img {
  float: right;
  border: 4px solid #ffffff;
  margin: 1% 0% 1% 1%;
  -moz-box-shadow: #333333 0px 2px 5px;
  -webkit-box-shadow: #333333 0px 2px 5px;
  -o-box-shadow: #333333 0px 2px 5px;
  box-shadow: #333333 0px 2px 5px;
}

/*---------------- Video Content Type ---------------- */
/* line 717, ../sass/screen.scss */
.field-name-field-youtube {
  margin: 2% 0% 1% 0%;
}

/*---------------- People Content Type ---------------- */
/* line 726, ../sass/screen.scss */
.field-name-field-user .field-name-field-usr-name {
  font-size: 150%;
  margin: 1% 0% 1% 0%;
}
/* line 731, ../sass/screen.scss */
.field-name-field-user .field-name-field-image {
  float: left;
  margin: 0% 2% 2% 0%;
  -moz-box-shadow: #333333 0px 2px 5px;
  -webkit-box-shadow: #333333 0px 2px 5px;
  -o-box-shadow: #333333 0px 2px 5px;
  box-shadow: #333333 0px 2px 5px;
  border: 4px solid #ffffff;
}
/* line 739, ../sass/screen.scss */
.field-name-field-user .field-name-field-description {
  font-size: 80%;
  margin: 1%;
}
/* line 744, ../sass/screen.scss */
.field-name-field-user .entity-field-collection-item {
  clear: both;
  overflow: hidden;
  margin-top: 3%;
}

/*---------------- Footer ---------------- */
/* line 753, ../sass/screen.scss */
footer {
  clear: both;
  width: 100%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 8%;
  overflow: hidden;
}
/* line 761, ../sass/screen.scss */
footer h2 {
  margin-bottom: 5%;
}

@media all and (max-device-width: 4500px) and (min-device-width: 640px) {
  /* line 770, ../sass/screen.scss */
  .region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn {
    float: left;
    width: 32%;
  }
}
/* line 777, ../sass/screen.scss */
.region-footer-firstcolumn, .region-footer-secondcolumn {
  margin-right: 2%;
}

@media all and (max-width: 640px) and (min-width: 100px), only screen and (-webkit-min-device-pixel-ratio : 1.5), only screen and (min-device-pixel-ratio : 1.5) {
  /* line 785, ../sass/screen.scss */
  .region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn {
    clear: both;
    width: 98%;
    margin: 1%;
    margin-bottom: 5%;
  }
}
/* line 796, ../sass/screen.scss */
.view-upcoming-events .views-row {
  padding: 3% 0%;
  border-top: 1px solid #cccccc;
}
/* line 800, ../sass/screen.scss */
.view-upcoming-events .views-row a {
  color: #005478;
  background: url("images/scheduling-request-iconsm.png") 0% 50% no-repeat;
  padding-left: 12%;
}
/* line 807, ../sass/screen.scss */
.view-upcoming-events .views-row .date-display-single {
  font-size: 80%;
  padding-left: 12%;
}
/* line 813, ../sass/screen.scss */
.view-upcoming-events .views-row-last {
  border-bottom: 1px solid #cccccc;
}
