.region-header {
height: 100%;
width: 80%;
margin-top: 3%;
margin: 0 auto;

	h1 {
	padding: 0% 0% 0% 0%;
	}


}



#views_slideshow_cycle_teaser_section_homepage_slider-block {
	border: 4px solid #FFFFFF;
	z-index: 1;
	margin: 0;
	max-width: 96%;
	margin: 0 auto;
	
		a {
			margin: 0;
			padding: 0;
			line-height:0;
		}
	}


/*---------------- Community Updates Menu ---------------- */



.front .region-column-one {
width: 38%;
margin: 1%;
height: 100%;
float:left;
clear: none;
}


.front .region-column-two {
width: 58%;
margin: 1%;
height: 100%;
float:left;
clear: none;
}

#page-content {
width: 68%;
margin: 0% 2% 0% 0%;
float:left;
clear: none;
}

#page-column-wrapper {
width: 30%;
float:left;
clear: none;
margin: 0% 0% 0% 0%;
}

#page-content-wrapper {
	clear: both;
	height: 100%;
	padding: 3% 0;
	overflow: hidden;
	width: 100%;
}

/*---------------- Footer ---------------- */

footer {
	vertical-align: top;
}

.region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn {
	float:left;
	width:33.33333%;
	clear: none;
	padding: 1%;
	margin: 0%;
	display: block;
}

.region-footer-thirdcolumn {
	
	margin-right: 0%;
}

.views-slideshow-controls-bottom {
display: block;
}