/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3";


/*---------------- Overall Styles ---------------- */

body {
	
	background-color: #F2F2F2;
 	max-width: 60em;
    min-height: 990px;
	margin: 0 auto;
}


h1, h2, h3, h4, h5, p, a, label, span, em {
font-family: 'OpenSansRegular';
font-style: normal;

}

h1, h2 {
color: #000000;
font-size: 170%;
margin: 0px;
padding: 0px;
text-shadow: 0px 1px 2px #FCFCFC;
letter-spacing: -1px;
line-height: 120%;
}

h3 {
margin: 1% 0% 1% 0%;
padding: 0%;
font-size: 120%;
}

p, a, label, div, em {
font-family: 'OpenSansRegular';
font-size: 100%;
font-style: normal;
line-height: 140%;
}

p {
line-height: 140%;
margin: 3% 0% 2% 0%;
}

label {
margin: 0px;
padding: 0px;
}

embed, iframe {
@include box-shadow(5px);
}

.drupal_messages {
clear:both;
}


/*---------------- Header ---------------- */

#header {
width:100%;
height: 100%;
}

@media all and (max-width: 700px) and (min-width: 100px), only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)  {
	#logo {
	width: 80%;
	margin: 0 auto;
	clear:both;
	}
	
	
	.region-header {
	height: 100%;
	width: 80%;
	margin-top: 3%;
	margin: 0 auto;
	text-align: center;
	}

}

@media all and (max-width: 4500px) and (min-width: 700px) {
	#logo {
	width: 45%;
	float:left;
	}
	
	
	.region-header {
	height: 100%;
	width: 55%;
	float:left;
	margin-top: 4%;
	}
}

#block-block-1 {
margin-top: 3%;
margin-bottom: 2%;
}



/*---------------- Main Navigation ---------------- */

.menu {
margin: 0%;
padding: 0%;
}

ul.menu li {
margin: 0%;
padding: 0%;
}

#block-system-main-menu {
margin: 0px;
}

.menu li {
list-style: none;
display: inline;
}

#block-system-main-menu li.first a {
margin-left: 0%;
}

#block-system-main-menu li a {
text-decoration:none;
padding: 1% 3% 1% 3%;
margin: 3%;
color: #999999;
}

/*

#block-system-main-menu li.active-trail a.active {
background-color: #9bc8d9;
box-shadow: 0px 0px 0px;
color: #999999;
}

*/

#block-system-main-menu li a.active {
background-color: #bcbcbc;
box-shadow: 0px 2px 5px #888;
color: #FFFFFF;
}






/*---------------- Fluid Homepage Slider ---------------- */



.homepage-slider {
width: 100%;

}


img, iframe {
max-width: 100%;

}

a img {
display:block;
}

#views_slideshow_cycle_main_homepage_slider-block, #views_slideshow_cycle_main_homepage_slider-block > div, #views_slideshow_cycle_main_homepage_slider-block div {

width:100%;

}

.region-homepage-slider {
position:relative;
clear:both;

}

@media all and (max-width: 700px) and (min-width: 100px), only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

	#views_slideshow_cycle_teaser_section_homepage_slider-block {
	border: 4px solid #FFFFFF;
	box-shadow: 0px 2px 5px #888;
	z-index: 1;
	margin: 0;
	max-width: 90%;
	margin: 0 auto;
	}

	.views-slideshow-controls-bottom {
	display: none;
	}

}

@media all and (max-device-width: 4500px) and (min-device-width: 700px) { 

#views_slideshow_cycle_teaser_section_homepage_slider-block {
	border: 4px solid #FFFFFF;
	box-shadow: 0px 2px 8px #888;
	z-index: 1;
	margin: 0;
	max-width: 96%;
	margin: 0 auto;
	
		a {
			margin: 0;
			padding: 0;
			line-height:0;
		}
	}

}

/* toggle this if the box-shadow is looking strange.. */

.views_slideshow_cycle_main {
overflow:visible;
}


#widget_pager_bottom_homepage_slider-block {
max-width: 90%;
margin: 0 auto;
clear:both;
}

.view-homepage-slider {

	.views_slideshow_pager_field_item {
	width: 18%;
	margin: 0% 1% 1% 1%;
	background: #FFFFFF;
	box-shadow: 0px 2px 5px #888;
	text-align: center;
	float:left;
	}
	
	.views_slideshow_pager_field_item a {
	
	display:block;
	width: 100%;
	padding: 6% 1% 6% 1%;
	text-decoration: none;
	color: #888888;
	font-size: 90%;
	}
}
#widget_pager_bottom_homepage_slider-block div.active {
background: #557193;
}

#widget_pager_bottom_homepage_slider-block div.active a {
color: #ffffff;
}


/*---------------- Homepage Columns --------------- */



.front #column-wrapper {
max-width: 58em;
height: 100%;
margin: 0 auto;
position:relative;
clear:both;
overflow: auto;
}


@media all and (max-device-width: 4500px) and (min-device-width: 700px) {
	.front .region-column-one,.front .region-column-two {
	width: 48%;
	margin: 1%;
	height: 100%;
	float:left;
	}
}

@media all and (max-width: 700px) and (min-width: 100px), only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)  { 

	.front .region-column-one,.front .region-column-two {
	width: 92%;
	margin: 4%;
	height: 100%;
	clear:both;
	}

}

#edit-mailchimp-lists-mailchimp-1-title label {
color: #000000;
font-size: 170%;
margin: 0px;
padding: 0px;
text-shadow: 0px 1px 2px #FCFCFC;
letter-spacing: -1px;
}


/*---------------- Main Content --------------- */


.region-content {
clear:both;
}

@media all and (max-device-width: 4500px) and (min-device-width: 700px) {
		#page-content {
		width: 68%;
		margin-right: 2%;
		float:left;
		}
		
		#page-column-wrapper {
		width: 30%;
		float:left;
		}
		
		#page-content-wrapper {
			clear: both;
			height: 100%;
			margin: 3% 0;
			overflow: hidden;
			width: 100%;
		}
}

@media all and (max-width: 700px) and (min-width: 100px), only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5)  { 

		#page-content {
		width: 98%;
		margin: 1%;
		clear:both;
		}
		
		#page-column-wrapper {
		width: 98%;
		margin: 1%;
		clear:both;
		}
		
		#page-content-wrapper {
			clear: both;
			height: 100%;
			overflow: hidden;
			width: 100%;
		}
}

/*---------------- Mail Chimp --------------- */

.form-type-textfield input {
@include border-radius (5px);
height: 25px;
width: 80%;
font-size: 100%;
font-family: 'OpenSansRegular';
}

#edit-mailchimp-lists-mailchimp-1-title {
margin: 0%;
padding: 0%;
}

#mailchimp-lists-user-subscribe-form-1 {
height: 100%;
}


/*---------------- Community Updates Menu ---------------- */

#block-menu-menu-community-updates-menu {
overflow: visible;
height: 100%;
	ul.menu {
		margin: 3% 0 5%;
	}
}

#block-menu-menu-community-updates-menu li a {
text-decoration:none;
padding: 1% 3% 6% 3%;
height: 100%;
width: 100%;
color: #555555;

}

#block-menu-menu-community-updates-menu li.first a.active {

color: #555555;
background-image: none;
height: 100%;
width: 100%;

}


#block-menu-menu-community-updates-menu li {
	
	a.active {

	color: #555555;
	background-image: url("images/arrow-down.png");
	@include background-size (100% 100%);
	height: 100%;
	width: 100%;
	}
	
	a:hover {
	color: #555555;
	background-image: url("images/all-arrow-down.png");
	@include background-size (100% 100%);
	height: 100%;
	width: 100%;
	}
	

}




/*---------------- Community Updates ---------------- */


.view-display-id-page {
margin-top: 3%;
}

div#block-views-community-updates-block-1 span#community {
font-size: 40%;
letter-spacing: 0px;
color: #333333;
}

div#block-views-community-updates-block-1 span#community a {
color: #333333;
}

.view-community-updates div.views-row {
position:relative;
width: 100%;
margin: 2% 0% 2% 0%;
overflow: visible;
margin: .5%;

	a {
	display:block;
	clear:both;
	position:relative;
	overflow: hidden;
	padding: 2%;
	
	}
	
	li {
	margin: 0;
	
	}


}



.view-community-updates div.views-row a:hover {
background-color: #cde6f9;
@include border-radius(5px);
box-shadow: 0px 2px 5px #888;

}

.view-community-updates div.views-row a, .view-community-updates div.views-row p, .view-community-updates div.views-row em {
margin:0% 1% 2% 0%;
padding:0%;
text-decoration: none;
color: #333333;
}

.view-id-community_updates div.views-row {

	p {
	font-size: 80%;

	}

	.date-user { 
	
		p {
		font-size: 70%;
		margin: 0% 0% 1% 0%; 
		font-family: 'OpenSansLightItalic';
		}
		
		em {
		font-size: 100%;
		font-family: 'OpenSansLightItalic';
		}
	
	}
}

.view-id-community_updates img {
float: left;

margin: 1% 4% 1% 1%;
box-shadow: 0px 2px 5px #888;
}

/*---------------- Article ---------------- */

.submitted {
font-size: 70%;
color: #777777;
margin: 2% 0% 1% 0%;
}


div.node-article, div.node-page, div.node-sermon {

	div.field-name-field-image img {
	float: right;
	margin: 2%;
	@include box-shadow(#888888 0px 2px 5px);
	}

}


div.field-name-field-tags {

	div.field-label {
	margin: 2% 2% 2% 0%;
	text-transform: uppercase;
	color: #333333;
	}


	div.field-items div.field-item {
	float:left;
	margin-right: 1%;
	height: 100%;
	}
}

div.field-name-field-tags div.field-items div.field-item a {
text-decoration: none;
background: url('images/tag-icon.png') left center no-repeat;
padding: 10px 10px 10px 30px;
color: #888888;
overflow: hidden;
display: block;

}

/*---------------- Artwork ---------------- */

div.field-slideshow-wrapper {

	.item-list ul li {
	margin: 0 1% 0 0;
	padding: 0;
	}
	
}

.view-artwork-slider  {
margin: 3% 0% 3% 0%;
}

views_slideshow_cycle_main_artwork_slider-block, views_slideshow_cycle_main_artwork_slider-block > div, views_slideshow_cycle_main_artwork_slider-block div {

width:100%;

}

#views_slideshow_cycle_teaser_section_artwork_slider-block {
	width: 100%;
	
	.views-slideshow-cycle-main-frame-row {
	max-width: 100%;
	}
	
	.views-slideshow-cycle-main-frame-row-item {
		margin-right: 4%;
		max-width: 100%;
		h3 {
		margin: 3% 0% 1% 0%;
		}
		
		p {
		font-size: 80%;
		margin: 0% 0% 2% 0%;
		}
	
		img {
		border: 4px solid #ffffff;
		@include box-shadow(#333333 0px 2px 5px); 
		
		}
		
	
	}
}

#widget_pager_bottom_artwork_slider-block {

	.views-slideshow-pager-field-item {
	float:left;
	margin-right: 1%;
	border: 4px solid #ffffff;
	@include box-shadow(#333333 0px 2px 5px); 
	
			.views-content-field-image {
			line-height: 0;
			}
	}

}


.node-type-event {

	.field-name-field-image {
	float:right;
	margin: 2%;
		img {
		border: 4px solid #ffffff;
		@include box-shadow(#333333 0px 2px 5px);
		}
	}
	
	.date-display-single {
	font-size: 80%;
	font-family: 'OpenSansLightItalic';

	}
	
	.field-name-field-place {
	font-size: 90%;
	}
	
	.field-name-field-place-link {
	margin: 2% 0% 2% 0%;

		a {
		background: url('images/green-button.png')  no-repeat;
		@include background-size (100% 100%);
		padding: 1% 2% 1% 2%;
		font-size: 70%;
		text-decoration: none;
		color: #ffffff;
		}
	}
}

/*---------------- Sermon ---------------- */

.mediaelement-audio {
position:relative;
overflow:hidden;
}

/*---------------- Song Content Type ---------------- */

.node-type-song-s- {
	.field-name-field-song-audio {
	
		.field-item {
		margin: 2% 0% 1% 0%;
		
			p {
			font-size: 80%;
			line-height: 120%;
			margin: 1% 0 2%;
			}
			
		}
	}


	.region-content {
		img {
		float: right;
		border: 4px solid #ffffff;
		margin: 1% 0% 1% 1%;
		@include box-shadow(#333333 0px 2px 5px);
		}
	}
}

/*---------------- Video Content Type ---------------- */

 .field-name-field-youtube {
	margin: 2% 0% 1% 0%;
}

/*---------------- People Content Type ---------------- */


.field-name-field-user {

	.field-name-field-usr-name  {
		font-size: 150%;
		margin: 1% 0% 1% 0%;
	}
	
	.field-name-field-image img {
		float: left;
		margin: 0% 2% 2% 0%;
		@include box-shadow(#333333 0px 2px 5px);
		border: 4px solid #ffffff;

	}
	
	.field-name-field-description {
	font-size: 80%;
	margin: 1%;
	}
	
	.entity-field-collection-item {
	clear:both;
	overflow:hidden;
	margin-top: 3%;
	}
}		

.node-type-people-page {



	.view-content-wiper-slider {

		.views-slideshow-controls-top {
		margin: 3% 0% 3% 0%;
		
			h2 {
			font-size: 100%;
			}
		}

		.views_slideshow_pager_field_item {
		float: left;
		
				
		
				.views-content-field-title {
				padding: 5px;
				margin: 5px 20px 5px 2px;
				@include box-shadow ( 0px 2px 5px #898989);
				border: 1px solid #acacac;
				background-color: #cccccc;
				@include opacity (.5);
				@include border-radius (5px);
				cursor: pointer;
					
					&:first {margin-left: 0px;}

					&:hover {
					@include opacity (1);
					
					}
				}
					
			}
		 .active .views-content-field-title {
		 @include opacity (1);
		 }
		
		}
		
		.views_slideshow_cycle_slide {
			img {
			float: left;
			margin: 0% 2% 2% 0%;
			@include box-shadow(#333333 0px 2px 5px);
			border: 4px solid #ffffff;
			}
			
			p {
			font-size: 80%;
			}
		}

}



/*---------------- Footer ---------------- */

footer {
	clear:both;
	width: 100%;
	margin: 0 auto;
	margin-top: 5%;
	margin-bottom: 8%;
	overflow: hidden;
	
	h2 {
	margin-bottom: 5%;

	}
}

@media all and (max-device-width: 4500px) and (min-device-width: 700px) { 


	.region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn {
		float:left;
		width:32%;
	}

}

.region-footer-firstcolumn, .region-footer-secondcolumn {
 	margin-right: 2%;
}


@media all and (max-width: 700px) and (min-width: 100px), only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

		.region-footer-firstcolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn {
			clear:both;
			width:98%;
			margin: 1%;
			margin-bottom: 5%;
			}
		

}

.view-upcoming-events {
	.views-row {
	padding: 3% 0%;
	border-top: 1px solid #cccccc;

		a {
		color: #005478;
		background: url("images/scheduling-request-iconsm.png") 0% 50% no-repeat;
		padding-left: 12%;
		
		}
		
	.date-display-single {
	font-size: 80%;
	padding-left: 12%;
	}
	}
	
	.views-row-last {
	border-bottom: 1px solid #cccccc;
	}

}

