
.view-hear-me-your-story-through-tattoos-
	.view-content
		display: inline-block
	.views-row
		display: block

		.field-name-field-image
			.field-item
				line-height: 0
				width: 100%
				img
					max-width: 100%
					height: auto