

html
	#hear-me-logo
		max-width: 25%
		width: 25%
		margin-bottom: 2%

.view-hear-me-your-story-through-tattoos-
	.view-content
		display: inline-block

	.views-row
		display: block
		width: 250px
		float: left
		height: 100%

		.field-name-field-image
			.field-item
				line-height: 0
				width: 100%
				img
					max-width: 100%
					height: auto
					width: auto

		.views-field-title
			position: relative
			span
				top: 0
				left: 0
				position: absolute
				background:transparent
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#50990000,endColorstr=#50990000)
				zoom: 1