@import "compass/css3"

$black: #000
$darkgrey: #1A1A1A
$grey: #AAA
$lightgrey: #B0B0B0
$white: #fff
$green: #68b418
$black: #000



/*---------------- Header ---------------- */

#church-link
	width: 30%
	float: left
	text-transform: uppercase
	text-align: left
	margin-top: 10%

#share-link
	width: 30%
	float: right
	text-transform: uppercase
	text-align: right
	margin-top: 10%
	a
		margin: 0 2% 0 2%

#hear-me-logo
	max-width: 25%
	height: auto
	+border-radius(5px)
	margin-top: -5px
	+box-shadow(0px 0px 10px $black)
	padding: 10% 1% 1% 1%
	margin: -10% auto 3% auto
	cursor: pointer

h3
	color: $lightgrey

	a
		font-size: 120%


/*---------------- tiles ---------------- */

.view-hear-me-your-story-through-tattoos-

	.view-content
		+column-count(5)
		+column-gap(10px)

	.views-row
		.field-name-field-image
			.field-item
				line-height: 0
				img
					max-width: 100%
					height: auto

/*---------------- personal story page ---------------- */


.node-type-personal-story

	.field-slideshow
		float: left
		margin-right: .5%

