@import "compass/css3"

$black: #000
$darkgrey: #1A1A1A
$grey: #AAA
$lightgrey: #B0B0B0
$white: #fff
$green: #68b418
$black: #000



/*---------------- Header ---------------- */

#church-link
	width: 30%
	float: left
	text-transform: uppercase
	text-align: left
	margin-top: 10%
	display: block

#share-link
	width: 30%
	float: right
	text-transform: uppercase
	text-align: right
	margin-top: 10%
	a
		margin: 0 2% 0 2%

#hear-me-logo
	max-width: 25%
	height: auto
	+border-radius(5px)
	margin-top: -5px
	+box-shadow(0px 0px 10px $black)
	padding: 10% 1% 1% 1%
	margin: -10% auto 3% auto
	cursor: pointer

h3
	color: $lightgrey

	a
		font-size: 120%


/*---------------- tiles ---------------- */

.view-hear-me-your-story-through-tattoos-

	.view-content
		+column-count(5)
		+column-gap(10px)


		.views-row

			.views-field-title
			position: relative
			span
				a
					font:
						size: 100%

	.item-list
		ul
			margin: 0
			padding: 3%
			font:
				size: 100%

/*---------------- personal story page ---------------- */


.node-type-personal-story

	.field-slideshow
		float: left
		margin-right: .5%

	.field-name-field-tags
	margin: 4% 0 4% 0
		.field-items
			.field-item
				display: inline
				clear: both
				a
					font-size: 80%
					padding: 5px 5px 5px 30px
					margin: 0 .5% 0 .5%
					color: $grey
					text-decoration: none
					text-transform: uppercase
					background: url('images/tag-icon.png') left center no-repeat

