/*---------------- Header ---------------- */
/* line 12, ../sass/screen-small.sass */
#church-link {
  width: 100%;
  text-align: center;
  margin: 1% 0 0.5% 0;
}

/* line 17, ../sass/screen-small.sass */
#share-link {
  width: 100%;
  text-align: center;
  margin: 0.5% 0 2% 0;
}
/* line 21, ../sass/screen-small.sass */
#share-link a {
  margin: 0 1% 0 1%;
}

/* line 24, ../sass/screen-small.sass */
#hear-me-logo {
  max-width: 60%;
  height: 78px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: -5px;
  -moz-box-shadow: 0px 0px 10px black;
  -webkit-box-shadow: 0px 0px 10px black;
  -o-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  padding: 15% 1% 1% 1%;
  margin: -15% auto 3% auto;
  cursor: pointer;
  text-align: center;
}
/* line 34, ../sass/screen-small.sass */
#hear-me-logo img {
  width: 193px;
}

/* line 37, ../sass/screen-small.sass */
h3 {
  color: #b0b0b0;
}
/* line 40, ../sass/screen-small.sass */
h3 a {
  font-family: "arvil_sansregular";
  margin: 1% 0% 1% 0%;
  padding: 0%;
  font-size: 120%;
  color: #b0b0b0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 48, ../sass/screen-small.sass */
h3 a:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/*---------------- tiles ---------------- */
/* line 59, ../sass/screen-small.sass */
.view-hear-me-your-story-through-tattoos- .item-list ul {
  margin: 0;
  padding: 3%;
}
/* line 63, ../sass/screen-small.sass */
.view-hear-me-your-story-through-tattoos- .view-content {
  -moz-column-count: 3;
  -webkit-column-count: 3;
  -o-column-count: 3;
  column-count: 3;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  -o-column-gap: 10px;
  column-gap: 10px;
}
/* line 67, ../sass/screen-small.sass */
.view-hear-me-your-story-through-tattoos- .views-row {
  margin-bottom: 10px;
  padding: 2px;
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transition-property: opacity;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -moz-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  display: inline-block;
}
/* line 78, ../sass/screen-small.sass */
.view-hear-me-your-story-through-tattoos- .views-row .field-name-field-image .field-item {
  line-height: 0;
}
/* line 80, ../sass/screen-small.sass */
.view-hear-me-your-story-through-tattoos- .views-row .field-name-field-image .field-item img {
  max-width: 100%;
  height: auto;
}
/* line 85, ../sass/screen-small.sass */
.view-hear-me-your-story-through-tattoos- .views-row .views-field-view-node {
  display: none;
  visibilty: invisible;
}
/* line 89, ../sass/screen-small.sass */
.view-hear-me-your-story-through-tattoos- .views-row .views-field-title {
  position: relative;
}
/* line 91, ../sass/screen-small.sass */
.view-hear-me-your-story-through-tattoos- .views-row .views-field-title span {
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
/* line 97, ../sass/screen-small.sass */
.view-hear-me-your-story-through-tattoos- .views-row .views-field-title span a {
  padding: 5px 10px 5px 10px;
  display: block;
  color: white;
  text-decoration: none;
}
/* line 105, ../sass/screen-small.sass */
.view-hear-me-your-story-through-tattoos- .fade-in {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 108, ../sass/screen-small.sass */
.view-hear-me-your-story-through-tattoos- .views-row:hover {
  background: #aaaaaa;
}

/*---------------- personal story page ---------------- */
/* line 116, ../sass/screen-small.sass */
.node-type-personal-story .hear-me-back-button {
  width: 30px;
  height: 30px;
  background: url("images/back-arrow.png") no-repeat;
  float: left;
  margin-top: 5px;
  cursor: pointer;
}
/* line 124, ../sass/screen-small.sass */
.node-type-personal-story .field-slideshow-slide {
  padding: 0.5%;
}
/* line 127, ../sass/screen-small.sass */
.node-type-personal-story .activeSlide {
  background-color: #aaaaaa;
}
/* line 130, ../sass/screen-small.sass */
.node-type-personal-story .field-slideshow {
  clear: both;
}
/* line 134, ../sass/screen-small.sass */
.node-type-personal-story .item-list ul {
  margin: 0;
  padding: 0;
}
/* line 137, ../sass/screen-small.sass */
.node-type-personal-story .item-list ul li {
  padding: 0.5%;
  margin: 0.5%;
}
/* line 140, ../sass/screen-small.sass */
.node-type-personal-story .item-list ul li a {
  line-height: 0;
  display: block;
}
/* line 145, ../sass/screen-small.sass */
.node-type-personal-story .field-name-field-tags .field-label {
  text-transform: uppercase;
  font-size: 70%;
  font-family: "OpenSansRegular";
  color: #aaaaaa;
  float: left;
}
/* line 152, ../sass/screen-small.sass */
.node-type-personal-story .field-name-field-tags {
  margin: 4% 0 4% 0;
}
/* line 155, ../sass/screen-small.sass */
.node-type-personal-story .field-name-field-tags .field-items .field-item {
  display: inline;
}
/* line 157, ../sass/screen-small.sass */
.node-type-personal-story .field-name-field-tags .field-items .field-item a {
  font-size: 80%;
  padding: 5px 5px 5px 30px;
  margin: 0 0.5% 0 0.5%;
  color: #aaaaaa;
  text-decoration: none;
  text-transform: uppercase;
  background: url("images/tag-icon.png") left center no-repeat;
}
/* line 167, ../sass/screen-small.sass */
.node-type-personal-story .field-name-field-tags .field-items a:hover {
  border-bottom: 1px dotted #aaaaaa;
}

/*---------------- footer ---------------- */
/* line 173, ../sass/screen-small.sass */
footer {
  margin-top: 2%;
}
/* line 175, ../sass/screen-small.sass */
footer h2 {
  font-size: 130%;
  color: #aaaaaa;
}

/* line 181, ../sass/screen-small.sass */
.region-footer-firstcolumn img {
  float: left;
  padding: 0 2% 0 0;
}
/* line 184, ../sass/screen-small.sass */
.region-footer-firstcolumn p {
  font-size: 80%;
}
