/* line 4, ../sass/screen-ie8.sass */
html #hear-me-logo {
  max-width: 25%;
  width: 25%;
  margin-bottom: 2%;
}

/* line 10, ../sass/screen-ie8.sass */
.view-hear-me-your-story-through-tattoos- .view-content {
  display: inline-block;
}
/* line 13, ../sass/screen-ie8.sass */
.view-hear-me-your-story-through-tattoos- .views-row {
  display: block;
  width: 250px;
  float: left;
  height: 100%;
}
/* line 20, ../sass/screen-ie8.sass */
.view-hear-me-your-story-through-tattoos- .views-row .field-name-field-image .field-item {
  line-height: 0;
  width: 100%;
}
/* line 23, ../sass/screen-ie8.sass */
.view-hear-me-your-story-through-tattoos- .views-row .field-name-field-image .field-item img {
  max-width: 100%;
  height: auto;
  width: auto;
}
/* line 28, ../sass/screen-ie8.sass */
.view-hear-me-your-story-through-tattoos- .views-row .views-field-title {
  position: relative;
}
/* line 30, ../sass/screen-ie8.sass */
.view-hear-me-your-story-through-tattoos- .views-row .views-field-title span {
  top: 0;
  left: 0;
  position: absolute;
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#50990000,endColorstr=#50990000);
  zoom: 1;
}
