/*---------------- Header ---------------- */
/* line 15, ../sass/screen.sass */
#church-link {
  width: 30%;
  float: left;
  text-transform: uppercase;
  text-align: left;
  margin-top: 10%;
}

/* line 22, ../sass/screen.sass */
#share-link {
  width: 30%;
  float: right;
  text-transform: uppercase;
  text-align: right;
  margin-top: 10%;
}
/* line 28, ../sass/screen.sass */
#share-link a {
  margin: 0 2% 0 2%;
}

/* line 31, ../sass/screen.sass */
#hear-me-logo {
  max-width: 25%;
  height: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin-top: -5px;
  -moz-box-shadow: 0px 0px 10px black;
  -webkit-box-shadow: 0px 0px 10px black;
  -o-box-shadow: 0px 0px 10px black;
  box-shadow: 0px 0px 10px black;
  padding: 10% 1% 1% 1%;
  margin: -10% auto 3% auto;
  cursor: pointer;
}

/* line 41, ../sass/screen.sass */
h3 {
  color: #b0b0b0;
}
/* line 44, ../sass/screen.sass */
h3 a {
  font-size: 120%;
}

/*---------------- tiles ---------------- */
/* line 52, ../sass/screen.sass */
.view-hear-me-your-story-through-tattoos- .view-content {
  -moz-column-count: 5;
  -webkit-column-count: 5;
  -o-column-count: 5;
  column-count: 5;
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  -o-column-gap: 10px;
  column-gap: 10px;
}
/* line 56, ../sass/screen.sass */
.view-hear-me-your-story-through-tattoos- .view-content .views-row {
  position: relative;
}
/* line 61, ../sass/screen.sass */
.view-hear-me-your-story-through-tattoos- .view-content .views-row span a {
  font-size: 100%;
}
/* line 66, ../sass/screen.sass */
.view-hear-me-your-story-through-tattoos- .item-list ul {
  margin: 0;
  padding: 3%;
  font-size: 100%;
}

/*---------------- personal story page ---------------- */
/* line 77, ../sass/screen.sass */
.node-type-personal-story .field-slideshow {
  float: left;
  margin-right: 0.5%;
}
