/*
Syntax error: Invalid CSS after "...rosoft.gradient": expected selector, was "(startColorstr=..."
        on line 35 of /Users/davidmoore/Sites/ssac/sites/all/themes/hear-me-exhibit/css/sass/screen-ie8.sass

Backtrace:
/Users/davidmoore/Sites/ssac/sites/all/themes/hear-me-exhibit/css/sass/screen-ie8.sass:35
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/scss/parser.rb:929:in `expected'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/scss/parser.rb:875:in `expected'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/scss/static_parser.rb:19:in `parse_selector'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:230:in `visit_rule'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:236:in `visit_rule'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:236:in `visit_rule'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:236:in `visit_rule'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:236:in `visit_rule'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `map'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:27:in `block in visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:39:in `with_environment'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:26:in `visit_children'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:47:in `visit_root'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/base.rb:37:in `visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:18:in `visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/visitors/perform.rb:7:in `visit'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/tree/root_node.rb:20:in `render'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/engine.rb:300:in `_render'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/engine.rb:248:in `block in render'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/util.rb:297:in `silence_sass_warnings'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/sass-3.1.12/lib/sass/engine.rb:248:in `render'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:136:in `block (2 levels) in compile'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:135:in `block in compile'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/logger.rb:45:in `red'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:134:in `compile'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:114:in `compile_if_required'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:99:in `block (2 levels) in run'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:97:in `each'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:97:in `block in run'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:122:in `timed'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/compiler.rb:96:in `run'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/commands/watch_project.rb:142:in `recompile'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `block in modified'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block (2 levels) in run'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `each'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:17:in `block in run'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `loop'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/backends/polling.rb:15:in `run'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/commands/watch_project.rb:86:in `perform'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/commands/base.rb:18:in `execute'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/commands/project_base.rb:19:in `execute'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/bin/compass:25:in `block in <top (required)>'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/bin/compass:39:in `call'
/opt/local/lib/ruby1.9/gems/1.9.1/gems/compass-0.11.5/bin/compass:39:in `<top (required)>'
/opt/local/bin/compass:19:in `load'
/opt/local/bin/compass:19:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...rosoft.gradient\": expected selector, was \"(startColorstr=...\"\A         on line 35 of /Users/davidmoore/Sites/ssac/sites/all/themes/hear-me-exhibit/css/sass/screen-ie8.sass"; }
