
/*---------------- Overall Styles ---------------- */

body {
	
	background-color: #F2F2F2;
 	max-width: 60em;
    min-height: 990px;
	margin: 0 auto;
}


h1, h2, h3, h4, h5, p, a, label {
font-family: 'OpenSansRegular';
font-style: normal;

}

h1, h2 {
color: #000000;
font-size: 170%;
margin: 0px;
padding: 0px;
text-shadow: 0px 1px 2px #FCFCFC;
letter-spacing: -1px;
}

h3 {
margin: 0% 0% 2% 0%;
padding: 0%;
}

p, a, label, div, em {
font-family: 'OpenSansRegular';
font-size: 100%;
font-style: normal;
}

label {
margin: 0px;
padding: 0px;
}


/*---------------- Header ---------------- */

#header {
width:100%;
height: 100%;
}

@media all and (max-width: 480px) and (min-width: 300px) {
	#logo {
	width: 80%;
	margin: 0 auto;
	}
	
	
	.region-header {
	height: 100%;
	width: 80%;
	margin-top: 3%;
	margin: 0 auto;
	text-align: center;
	
}

}
@media all and (max-width: 4500px) and (min-width: 480px) {
	#logo {
	width: 45%;
	float:left;
	}
	
	
	.region-header {
	height: 100%;
	width: 55%;
	float:left;
	margin-top: 4%;
	}
}

#block-block-1 {
margin-top: 3%;
margin-bottom: 2%;
}

/*---------------- Main Navigation ---------------- */

.menu {
margin: 0%;
padding: 0%;
}

ul.menu li {
margin: 0%;
padding: 0%;
}

#block-system-main-menu {
margin: 0px;
}

#block-system-main-menu li {
list-style: none;
display: inline;
}

#block-system-main-menu li.first a {
margin-left: 0%;
}

#block-system-main-menu li a {
text-decoration:none;
padding: 1% 3% 1% 3%;
margin: 3%;
color: #999999;
}

#block-system-main-menu li a.active {
background-color: #bcbcbc;
box-shadow: 0px 2px 5px #888;
color: #FFFFFF;
}




/*---------------- Fluid Homepage Slider ---------------- */



.homepage-slider {
width: 100%:

}


img {
max-width: 100%;

}

#views_slideshow_cycle_main_homepage_slider-block, #views_slideshow_cycle_main_homepage_slider-block > div, #views_slideshow_cycle_main_homepage_slider-block div {

width:100%;

}

.region-homepage-slider {
position:relative;
clear:both;

}

@media all and (max-width: 480px) and (min-width: 300px) {
	#views_slideshow_cycle_teaser_section_homepage_slider-block {
	border: 4px solid #FFFFFF;
/*	box-shadow: 0px 2px 5px #888;
*/	z-index: 1;

	margin: 0;
	max-width: 90%;
	margin: 0 auto;
	}

	.views-slideshow-controls-bottom {
	display: none;
	}

}

@media all and (max-width: 4500px) and (min-width: 480px) { 

#views_slideshow_cycle_teaser_section_homepage_slider-block {
	border: 4px solid #FFFFFF;
/*	box-shadow: 0px 2px 5px #888;
*/	z-index: 1;

	margin: 0;
	max-width: 96%;
	margin: 0 auto;
	}

}



#views_slideshow_cycle_teaser_section_homepage_slider-block a {
display:block;
height: 100%;
width: 100%;
margin: 0;
padding:0;
}

#views_slideshow_cycle_teaser_section_homepage_slider-block a img {
display:block;
margin: 0;
padding:0;
}


#widget_pager_bottom_homepage_slider-block {
max-width: 90%;
margin: 0 auto;
clear:both;
}

.views_slideshow_pager_field_item {
width: 18%;
margin: 0% 1% 1% 1%;
background: #FFFFFF;
box-shadow: 0px 2px 5px #888;
text-align: center;
float:left;
}

.views_slideshow_pager_field_item a {

display:block;
width: 100%;
padding: 6% 1% 6% 1%;
text-decoration: none;
color: #888888;
font-size: 90%;
}

#widget_pager_bottom_homepage_slider-block div.active {
background: #557193;
}

#widget_pager_bottom_homepage_slider-block div.active a {
color: #ffffff;
}


/*---------------- Homepage Columns --------------- */



#column-wrapper {
max-width: 58em;
height: 100%;
margin: 0 auto;
position:relative;
clear:both;
overflow: auto;
}



.region-column-left,.region-column-right {
width: 48%;
margin: 1%;
height: 100%;
float:left;
}

#edit-mailchimp-lists-mailchimp-1-title label {
color: #000000;
font-size: 170%;
margin: 0px;
padding: 0px;
text-shadow: 0px 1px 2px #FCFCFC;
letter-spacing: -1px;
}

/*---------------- Mail Chimp --------------- */

.form-type-textfield input {
border-radius: 5px;
height: 25px;
width: 80%;
font-size: 100%;
font-family: 'OpenSansRegular';
}

#edit-mailchimp-lists-mailchimp-1-title {
margin: 0%;
padding: 0%;
}

#mailchimp-lists-user-subscribe-form-1 {
height: 100%;
}


/*---------------- Community Updates ---------------- */

div#block-views-community-updates-block-1 span#community {
font-size: 40%;
letter-spacing: 0px;
color: #333333;
}

div#block-views-community-updates-block-1 span#community a {
color: #333333;
}

.view-community-updates div.views-row {
position:relative;
width: 100%;
margin: 2% 0% 2% 0%;
overflow: auto;
}

.view-community-updates div.views-row a {
display:block;
clear:both;
position:relative;
overflow: auto;
}

.view-community-updates div.views-row a:hover {
background-color: #cde6f9;
border-radius: 0px 5px 5px 0px;
box-shadow: 0px 2px 5px #888;
}

.view-community-updates div.views-row a, .view-community-updates div.views-row p, .view-community-updates div.views-row em {
margin:0% 1% 2% 0%;
padding:0%;
text-decoration: none;
color: #333333;
}

.view-id-community_updates div.views-row p {
font-size: 80%;
margin: 0%;

}



.view-id-community_updates img {
float: left;

margin: 1% 4% 1% 0%;
box-shadow: 0px 2px 5px #888;
}


/*---------------- Footer ---------------- */

.region-footer-firstolumn, .region-footer-secondcolumn, .region-footer-thirdcolumn {
float:left;
width: 33%;
padding: 1%;
}
